# Ignore build directory
/build/
build
node_modules
# Ignore editor files
.vscode/
.idea/
*.swp

# Ignore OS files
.DS_Store
Thumbs.db
.env

# Ignore compiled binaries (if any outside build/)
*.exe
*.out
*.o

# Ignore logs and temporary files
*.log
*.tmp

#Extension file
secret-scanner-pro-1.0.0.vsix